div.App {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  overflow: hidden;
  text-align: center;
  font-size: x-large;
  height: 100vh;
  width: 100vw;
}

button, input {
  background-color: black;
  color: grey;
  border: 1.75px solid grey;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  margin: 0.6rem;
  padding: 0.5rem 0.75rem;
  transition: 0.4s;
}

input {
  width: 30%;
}

button:hover {
  background-color: grey;
  color: black;
  box-shadow: 0 0 6px 2px #a0a0a0;
}

/* ! Login/LoginForm/Signup Styles */

div.Auth, form.Auth, p.Auth {
  background-color: black;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1.5rem;
}

span.Auth-link {
  text-decoration: underline;
  cursor: pointer;
}

div.auth-errors {
  padding: 0.5rem;
  color: red;
}

p.auth-errors {
  margin: 0;
}

/* TODO NavBar Styles */

div.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 1rem 1rem;
}

div.NavBar button {
  border: 0.5px solid grey;
  font-size: large;
  margin: 0;
}

div.nav-header {
  width: fit-content;
}

div.nav-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  gap: 1rem;
}

/* TODO Main/Game Styles */

div.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
  max-height: 100%;
  width: auto;
  padding: 1rem 2rem 2rem 2rem;
}

div.game-prompts {
  display: flex;
  flex-direction: column-reverse;
  /* overflow-wrap: break-word; */
  overflow-y: auto;
  min-height: 0%;
  max-height: 100%;
  /* margin: 0.6rem 0rem 0; */
  /* padding: 0.6rem 1em 0 1em; */
}

div.game-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin: 0; */
  /* padding: 0rem 1em 0.6rem 1em; */
}

div.game-input {
  width: 100%;
}

input#game-input, input#game-input:focus {
  /* border: 1px groove grey; */
  border: none;
  text-align: left;
  width: 100%;
  /* margin: -1px; */
  margin: 0;
  padding: 0;
  outline: none;
}

/* TODO Game Select && Card Styles  */

div.game-menu {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  height: 100%;
  width: 100%
}

span.game-menu {
  margin: 1rem;
}

div.game-menu button {
  border: 0.75px solid grey;
}

div.game-menu big {
  font-size: xx-large;
  margin: 0.75em;
}

div.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 0.5px groove #a0a0a0;
  border-radius: 7px;
  width: 40%;
  margin: 0.5rem;
  padding: 1rem;
  transition: .6s;
}

div.game-card:hover {
  transform:scale(1.025, 1.025);
  box-shadow: 0 0 6px 1px #a0a0a0, inset 0 0 6px 1px  #a0a0a0;
}


/* ! create-react-app stuff */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
